extends layout

block content
    h1= title

    form(id='EarphonesForm' action="/resource/earphones" method="POST")
        div.form-group
            label.earphonesAttr(for='brand') Brand
            input#brand(type='text' name='brand')
        div.form-group
            label.earphonesAttr(for='earbudsModel') EarbudsModel
            input#earbudsModel(type='text' name='earbudsModel')
        div.form-group
            label.earphonesAttr(for='jackMM') jackMM
            input#jackMM(type='number' name='jackMM')
        input(type="submit")

    script.
        document.forms['EarphonesForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });
